Repository waldseelen/hp: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check-migrations, css-lint, js-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: check-ast

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3
        exclude: migrations/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        exclude: migrations/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        exclude: migrations/
        additional_dependencies: [
          flake8-docstrings,
          flake8-bugbear,
          flake8-comprehensions,
        ]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        additional_dependencies: [django-stubs, types-requests]
        exclude: migrations/

  - repo: local
    hooks:
      - id: django-check
        name: Django Check
        entry: python manage.py check
        language: system
        pass_filenames: false

      - id: django-check-migrations
        name: Django Check Migrations
        entry: python manage.py makemigrations --check --dry-run
        language: system
        pass_filenames: false
        files: models\.py$

  # UI/UX specific hooks
  - repo: local
    hooks:
      - id: css-lint
        name: CSS Lint
        entry: npx stylelint
        language: system
        files: \.(css|scss)$
        args: ["--fix"]

      - id: js-lint
        name: JavaScript Lint
        entry: npx eslint
        language: system
        files: \.js$
        args: ["--fix"]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        exclude: tests/

  # Documentation
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        exclude: migrations/
        additional_dependencies: [toml]

Remove .gitignore and README.md
  .gitignore
  README.md
Due: none

docs: Remove unnecessary markdown files
  CODE_REVIEW_CHECKLIST.md
  PERFORMANCE_MONITORING_GUIDE.md
  README.md
  RESPONSIVE_REMOVAL_SUMMARY.md
Due: none

docs: Rename README_UPDATED.md to README.md
  README.md
Due: none

Update roadmap with English translations and detailed tasks
  roadmap.txt
Due: none

PHASE 1: CRITICAL INFRASTRUCTURE FIXES ✅ Task 1.4 & 1.5 TAMAMLANDI
  .claude/settings.local.json
  .env.example
  ENVIRONMENT_VARIABLES.md
  apps/chat/connection_pool.py
  apps/chat/consumers.py
  apps/chat/middleware.py
  apps/chat/routing.py
  apps/main/urls.py
  apps/main/views.py
  cookies.txt
  portfolio_site/asgi.py
  portfolio_site/settings/base.py
  portfolio_site/urls.py
  requirements.txt
  roadmap.txt
  static/js/performance.js
  templates/analytics.json
  templates/base.html
  templates/manifest.json
Due: js-lint

Gelinen son ilerleme / son task: ### Task 2.2: Caching Implementation
  CACHING_SYSTEM.md
  CELERY_SETUP.md
  DATABASE_OPTIMIZATION.md
  apps/blog/migrations/0009_remove_post_blog_post_author__3a3e8e_idx_and_more.py
  apps/blog/models.py
  apps/main/cache.py
  apps/main/management/commands/analyze_db_performance.py
  apps/main/management/commands/cache_monitor.py
  apps/main/management/commands/cache_warm.py
  apps/main/management/commands/optimize_static.py
  apps/main/management/commands/start_flower.py
  apps/main/management/commands/test_celery.py
  apps/main/middleware/cache_middleware.py
  apps/main/middleware/static_optimization_middleware.py
  apps/main/migrations/0015_rename_main_person_is_visi_377110_idx_personal_vis_order_and_more.py
  apps/main/models.py
  apps/main/querysets.py
  apps/main/signals.py
  apps/main/tasks.py
  apps/main/templatetags/cache_tags.py
  apps/main/views/cache_views.py
  apps/tools/migrations/0006_alter_tool_image.py
  appsmainmanagement__init__.py
  appsmainmanagementcommands__init__.py
  appsmainmiddleware__init__.py
  appsmainsignals.py
  appsmaintemplatetags__init__.py
  portfolio_site/__init__.py
  portfolio_site/celery.py
  portfolio_site/settings/base.py
  requirements.txt
  roadmap.txt
  start_celery_services.py
  test_celery_setup.py
Due: django-check-migrations

Gelinen son ilerleme / son task: ## Overall Success Metrics:
  GİT.bat
Due: none

Latest progress / last task: ## Overall Success Metrics: | -Pzt-15.09.2025 16:11:28,60
  GİT.bat
Due: none

Fix GitHub Actions workflow - add error handling for missing scripts
  .github/workflows/ci.yml
Due: none

Temporarily disable GitHub Actions workflows due to billing issues
  .github/workflows-disabled/backup.yml
  .github/workflows-disabled/ci.yml
  .github/workflows-disabled/deploy.yml
  .github/workflows-disabled/security.yml
  .github/workflows/README.md
Due: none

PHASE 5: UI/UX OVERHAUL (THEME & ANIMATION) | 2025-01-17 | 01:00
  .claude/CLAUDE.md
  .claude/settings.local.json
  .github/workflows/accessibility.yml
  apps/main/middleware/__init__.py
  apps/main/middleware/cache_control.py
  apps/main/middleware/compression.py
  apps/main/middleware/performance.py
  apps/main/middleware/security_headers.py
  apps/main/migrations/0016_admin_account_locked_until_admin_backup_codes_and_more.py
  coverage/accessibility/test-verification.md
  docs/ACCESSIBILITY_GUIDELINES.md
  jest.config.js
  lighthouserc.js
  locale/tr/LC_MESSAGES/django.mo
  locale/tr/LC_MESSAGES/django.po
  package.json
  portfolio_site/locale/en/LC_MESSAGES/django.mo
  portfolio_site/locale/en/LC_MESSAGES/django.po
  portfolio_site/locale/tr/LC_MESSAGES/django.mo
  portfolio_site/locale/tr/LC_MESSAGES/django.po
  portfolio_site/urls.py
  roadmap.txt
  scripts/run-accessibility-tests.js
  templates/base.html
  templates/blog/list.html
  templates/chat/chat.html
  templates/contact/form.html
  templates/main/home.html
  tests/accessibility/color-contrast.test.js
  tests/accessibility/contact-form.test.js
  tests/accessibility/home-page.test.js
  tests/accessibility/navigation.test.js
  tests/accessibility/setup.js
Due: js-lint

PHASE 5: UI/UX OVERHAUL (THEME & ANIMATION) - COMPLETE ✅
  roadmap.txt
  static/css/input.css
  static/css/output.css
  tailwind.config.js
  templates/base.html
  templates/premium_demo.html
Due: css-lint, js-lint

PHASE 6: ADVANCED SEO & CONTENT DELIVERY - COMPLETE ✅
  apps/main/fulltext_search.py
  apps/main/templatetags/image_tags.py
  apps/main/views/search_api.py
  portfolio_site/settings/base.py
  portfolio_site/urls.py
  roadmap.txt
  static/js/cdn-performance.js
  static/js/image-optimization.js
  static/js/search-autocomplete.js
  static/robots.txt
  templates/base.html
  templates/blog/detail.html
  templates/blog/list.html
  templates/components/picture_element.html
  templates/main/home.html
  templates/tools/detail.html
Due: js-lint

Update local settings after Phase 6 completion
  .claude/settings.local.json
Due: none

Remove Git.bat file
  Git.bat
Due: none

PHASE 7: MONITORING & OBSERVABILITY - COMPLETE ✅
  apps/main/analytics.py
  apps/main/health_checks.py
  apps/main/logging/__init__.py
  apps/main/logging/alert_system.py
  apps/main/logging/json_formatter.py
  apps/main/logging/log_aggregator.py
  apps/main/middleware/__init__.py
  apps/main/middleware/apm_middleware.py
  apps/main/models.py
  apps/main/performance.py
  apps/main/urls.py
  apps/main/utils/apm_decorators.py
  apps/main/validators.py
  apps/main/views.py
  apps/main/views/__init__.py
  apps/main/views/logging_dashboard.py
  apps/main/views/main_views.py
  apps/main/views/performance_api.py
  portfolio_site/settings/base.py
  requirements.txt
  roadmap.txt
  static/css/output.css
  static/js/analytics.js
  templates/main/dashboard.html
Due: django-check-migrations, css-lint, js-lint

PHASE 7: Fix logging dashboard errors and complete log aggregation system
  apps/main/utils/apm_decorators.py
  apps/main/validators.py
  portfolio_site/urls.py
  roadmap.txt
  templates/main/logging_dashboard.html
Due: none

Fix all missing static files and remove 404 errors
  .claude/settings.local.json
  static/favicon.ico
  templates/base.html
Due: none

Fix CSS loading and starfield overlay issues
  templates/base.html
Due: none

Fix CSS/JS preload references in middleware and templates
  .claude/settings.local.json
  apps/main/health_checks.py
  apps/main/middleware.py
  apps/main/middleware/security_headers.py
  templates/base_backup.html
  templates/base_backup_original.html
  templates/base_fixed.html
  templates/base_formatted.html
  templates/partials/resource-hints.html
Due: none

Fix CSP and CORS security headers for CDN resources
  apps/main/middleware.py
  apps/main/middleware/security_headers.py
  templates/base.html
Due: none

Fix all CSP, CORS, and performance issues
  apps/main/middleware.py
  apps/main/middleware/security_headers.py
  static/js/alpine.min.js
  static/sw.js
  templates/base.html
Due: js-lint

🔧 CRITICAL FIX: SVG Elements No Longer Cover Entire Page
  templates/base.html
Due: none

🔧 FINAL SVG FIX: Template Cache + Duplicate Cleanup
  .claude/settings.local.json
Due: none

🔨 NUCLEAR OPTION: Force SVG Sizes with !important
  templates/base.html
Due: none

Fixed SVG and general alignment issues
  portfolio_site/templates/base.html
  templates/base.html
  templates/main/home.html
Due: none

Removed accessibility workflow
  .github/workflows/accessibility.yml
Due: none

🔒 Fix security violations and missing resource errors
  apps/main/middleware.py
  static/css/cookie-consent.css
  static/css/inline-styles.css
  static/js/cookie-consent.js
  static/js/sw.js
  templates/base.html
  templates/manifest.json
Due: css-lint, js-lint

🔄 Update codebase with latest improvements and cleanup
  package.json
  project/static/js/main.js
  project/templates/main/ai.html
  project/templates/main/cybersecurity.html
  prompt_railway.yml
  roadmap.txt
  static/css/base/app-base.css
  static/css/base/design-tokens.css
  static/css/components.css
  static/css/components/app-components.css
  static/css/custom.css
  static/css/playground.css
  static/css/project-base.css
  static/js/performance.min.js
  static/js/search-autocomplete.js
  static/js/ui-enhancements.min.js
  static/js/ui-shell.js
  tailwind.config.js
  templates/analytics/dashboard.html
  templates/base.html
  templates/base/base.html
  templates/components/navigation/navigation.html
  templates/components/navigation/search-modal.html
  templates/dashboard/monitoring_dashboard.html
  templates/pages/portfolio/dashboard.html
  templates/playground/index.html
  to do.txt
Due: css-lint, js-lint

🔧 Enhance navigation and UI functionality
  apps/main/context_processors.py
  apps/main/templatetags/navigation_tags.py
  project/main/context_processors.py
  project/main/templatetags/navigation_tags.py
  project/portfolio_site/settings.py
  project/portfolio_site/urls.py
  project/portfolio_site/views.py
  project/settings/simple.py
  project/urls.py
  start_dev.bat
  static/js/ui-enhancements.js
  templates/base/base.html
  templates/components/navigation/breadcrumb.html
  templates/errors/404.html
  templates/errors/500.html
Due: js-lint

🌐 Add internationalization support and enhance UI components
  .claude/settings.local.json
  project/portfolio_site/urls.py
  project/templates/blog/list.html
  project/templates/chat/chat.html
  project/templates/contact/form.html
  project/templates/tools/list.html
  roadmap.txt
  static/css/components/components-compiled.css
  static/css/output.css
  static/favicon.ico
  static/js/ui-enhancements.js
Due: css-lint, js-lint

🚀 Complete Phase 6-10 implementation with performance and accessibility
  .claude/settings.local.json
  ACCESSIBILITY_AUDIT_REPORT.md
  ACCESSIBILITY_GUIDELINES.md
  ACCESSIBILITY_SEO_IMPLEMENTATION_SUMMARY.md
  CSS_OPTIMIZATION_SUMMARY.md
  FONT_OPTIMIZATION_SUMMARY.md
  ICON_OPTIMIZATION_SUMMARY.md
  PERFORMANCE_OPTIMIZATION_SUMMARY.md
  PWA_IMPLEMENTATION_SUMMARY.md
  apps/main/sitemaps.py
  package.json.backup
  postcss.config.js
  roadmap.txt
  scripts/accessibility-audit.js
  scripts/extract-critical-css.js
  scripts/font-optimization.js
  scripts/icon-optimizer.js
  static/css/accessibility-enhanced.css
  static/css/fonts-optimized.css
  static/css/output.purged.css
  static/icons/icon-loader.js
  static/icons/icon-utilities.css
  static/icons/icons.css
  static/icons/sprites/icons.svg
  static/js/font-loader.js
  static/js/keyboard-navigation.js
  static/js/pwa-manager.js
  static/js/sw-enhanced.js
  static/manifest.json
  static/sw-version.json
  templates/base-optimized.html
  templates/home-critical.html
  templates/offline.html
  templates/partials/font-preloads.html
  templates/partials/icon.html
  templates/partials/meta-tags.html
  templates/partials/script-loading.html
  templates/partials/structured-data.html
  webpack.config.js
Due: css-lint, js-lint

✅ Complete final validation and testing phase
  .claude/settings.local.json
  coverage/accessibility/accessibility-report.json
  coverage/accessibility/accessibility-report.md
  package.json
  roadmap.txt
Due: none

🗑️ Remove GitHub Actions workflows to stop email notifications
  .github/workflows-disabled/backup.yml
  .github/workflows-disabled/ci.yml
  .github/workflows-disabled/deploy.yml
  .github/workflows-disabled/security.yml
  .github/workflows/README.md
  .github/workflows/railway-deploy.yml
Due: none

📝 Add repository contributor guidelines
  AGENTS.md
Due: none
